:host {
  background-color: #eee;
  width: 100%;
  height: 100%;
  display: grid;

  #designer-zone {
    display: block;
    width: 400px;
    height: 300px;
    position: relative;
    align-self: center;
    justify-self: center;

    background-color: white;

    & > .app-design-common {
      position: absolute;
    }
  }
}

