<div id="designer-zone">
  <app-design-label appDesignCommon></app-design-label>
  <app-design-label appDesignCommon></app-design-label>
  <app-design-label appDesignCommon></app-design-label>
  <app-design-label appDesignCommon></app-design-label>
  <app-design-label appDesignCommon></app-design-label>
  <app-design-label appDesignCommon></app-design-label>
  <app-design-label appDesignCommon></app-design-label>
  <app-design-label appDesignCommon></app-design-label>
  <app-design-label appDesignCommon></app-design-label>
  <app-design-label appDesignCommon></app-design-label>
  <app-design-label appDesignCommon></app-design-label>
  <app-design-label appDesignCommon></app-design-label>
  <app-design-label appDesignCommon></app-design-label>
  <app-design-label appDesignCommon></app-design-label>
</div>
