:host {
  background-color: #eee;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr auto;

  #edition-zone {
    display: grid;
    grid-area: 1/1;
    position: relative;

    #zoom-zone {
      display: grid;
      height: 100%;
      width: 100%;
      overflow: hidden;

      #designer-zone {
        display: block;
        width: 300px;
        aspect-ratio: 1 / 0.53;
        position: relative;
        align-self: center;
        justify-self: center;

        background-color: white;

        & > .app-design-common {
          position: absolute;
        }
      }
    }

    #options {
      position: absolute;
      bottom: 0;
      left: 0;
      display: flex;
    }

    #zoom {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }

  #personalization-zone {
    display: block;
    height: 100%;
    grid-area: 1/2;
    width: 350px;
    background-color: white;

    app-field-personalization {
      display: block;
      height: 100%;
      width: 100%;
    }
  }
}

