<div id="edition-zone">
  <div id="zoom-zone">
    <div id="designer-zone" [style.transform]="'scale('+ this.scaleValue +')'">
      @for (design of this.designService.getAll(); track design.name) {
        @if (design.type == 'label') {
          <app-label-field [field]="design" (fieldChange)="this.designService.update($event)" [zoomLevel]="scaleValue"></app-label-field>
        } @else if (design.type == 'image') {
          <app-image-field [field]="design" (fieldChange)="this.designService.update($event)" [zoomLevel]="scaleValue"></app-image-field>
        }
      }
    </div>
  </div>
  <div id="options">
    <div id="undoRedo">
      <button mat-icon-button (click)="goBack()" [disabled]="!versioningService.canUndo()">
        <mat-icon>undo</mat-icon>
      </button>
      <button mat-icon-button (click)="goNext()" [disabled]="!versioningService.canRedo()">
        <mat-icon>redo</mat-icon>
      </button>
      <button mat-icon-button (click)="designService.getJson()">
        <mat-icon>content_copy</mat-icon>
      </button>
      <button mat-icon-button (click)="designService.setJson()">
        <mat-icon>content_paste</mat-icon>
      </button>
    </div>
    <div id="upDown" *ngIf="designService.getCurrent()">
      <button mat-icon-button (click)="designService.up()">
        <mat-icon>arrow_upward</mat-icon>
      </button>
      <button mat-icon-button (click)="designService.down()">
        <mat-icon>arrow_downward</mat-icon>
      </button>
      <button mat-icon-button (click)="designService.deleteCurrent()">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
  <div id="zoom">
    <button [disabled]="deltaY >= 1000" mat-icon-button (click)="zoomOut()">
      <mat-icon>zoom_out</mat-icon>
    </button>
    <button [disabled]="deltaY <= -1600" mat-icon-button (click)="zoomIn()">
      <mat-icon>zoom_in</mat-icon>
    </button>
  </div>
</div>
<div id="personalization-zone">
  <app-field-personalization *ngIf="this.designService.getCurrent()" [field]="this.designService.getCurrent()!" (fieldChange)="this.designService.update($event)"></app-field-personalization>
  <app-field-creation *ngIf="!this.designService.getCurrent()"></app-field-creation>
</div>
