<div id="designer-zone">
  <app-design-label></app-design-label>
  <app-design-label></app-design-label>
  <app-design-label></app-design-label>
  <app-design-label></app-design-label>
  <app-design-label></app-design-label>
  <app-design-label></app-design-label>
  <app-design-label></app-design-label>
  <app-design-label></app-design-label>
  <app-design-label></app-design-label>
  <app-design-label></app-design-label>
  <app-design-label></app-design-label>
  <app-design-label></app-design-label>
  <app-design-label></app-design-label>
  <app-design-label></app-design-label>
</div>
