mat-toolbar {
  height: 64px;
}

#edition-page {
  background-color: #eee;
  width: 100%;
  height: calc(100% - 64px);
  display: grid;
  grid-template-columns: auto 1fr auto;

  #edition-zone {
    display: grid;
    grid-area: 1/2;
    position: relative;

    #zoom-zone {
      display: grid;
      height: 100%;
      width: 100%;
      overflow: hidden;

      #designer-zone {
        display: block;
        position: relative;
        align-self: center;
        justify-self: center;

        background-color: white;

        & > .app-common-field {
          position: absolute;
        }
      }
    }

    app-edition-options {
      position: absolute;
      bottom: 0;
      left: 0;
    }

    app-zoom {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }

  #preferences-zone {
    display: block;
    height: 100%;
    grid-area: 1/1;
    width: 350px;
    background-color: white;
  }

  #personalization-zone {
    display: block;
    height: 100%;
    grid-area: 1/3;
    width: 350px;
    background-color: white;
  }
}

#edition-title {
  display: grid;
  grid-template-columns: 1fr 400px 1fr;

  input {
    color: white;
    background: transparent;
    outline: none;
    border: none;
    font-size: 1em;
    font-weight: bold;
    grid-area: 1/2;
    text-align: center;
  }
}

