:host {
  position: relative;
  display: block;
  width: max-content;

  &.selected {
    outline: 1px solid blue;
  }

  #content {
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px;
    margin: 0;
  }

  #resizerBottomLeft,
  #resizerBottomRight,
  #resizerTopLeft,
  #resizerTopRight {
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: blue;
    border-radius: 50%;
  }

  #resizerBottomLeft {
    bottom: -3px;
    left: -3px;
    cursor: sw-resize;
  }

  #resizerBottomRight {
    bottom: -3px;
    right: -3px;
    cursor: se-resize;
  }

  #resizerTopLeft {
    top: -3px;
    left: -3px;
    cursor: ne-resize;
  }

  #resizerTopRight {
    top: -3px;
    right: -3px;
    cursor: ne-resize;
  }

}
