<div id="personalization-zone-title">
  <button mat-icon-button (click)="goToCreationMenu()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <p>Modifier l'élément</p>
</div>
<div id="modify" [formGroup]="form">
  @if (this.field!.type == 'label') {
    <app-label-field-personalization #child [form]="getChildForm()" id="child"></app-label-field-personalization>
  } @else if (this.field!.type == 'image') {
    <app-image-field-personalization #child [form]="getChildForm()" id="child"></app-image-field-personalization>
  }
  <mat-label>Position X</mat-label>
  <mat-form-field appearance="outline" subscriptSizing="dynamic">
    <input matInput placeholder="100" type="number" formControlName="top">
  </mat-form-field>
  <mat-label>Position Y</mat-label>
  <mat-form-field appearance="outline" subscriptSizing="dynamic">
    <input matInput placeholder="100" type="number" formControlName="left">
  </mat-form-field>
  <mat-label>Largeur</mat-label>
  <mat-form-field appearance="outline" subscriptSizing="dynamic">
    <input matInput placeholder="100" type="number" formControlName="width">
  </mat-form-field>
  <mat-label>Hauteur</mat-label>
  <mat-form-field appearance="outline" subscriptSizing="dynamic">
    <input matInput placeholder="100" type="number" formControlName="height">
  </mat-form-field>
</div>
