<p>Texte</p>
<mat-form-field appearance="outline" id="content-edition" subscriptSizing="dynamic">
  <mat-label>Texte</mat-label>
  <textarea matInput
            placeholder="Quantité de #cereale"
            rows="3"
            [formControl]="getForm('content')">
  </textarea>
</mat-form-field>
<div id="fonts">
  <mat-form-field appearance="outline" subscriptSizing="dynamic">
    <mat-label>Police</mat-label>
    <mat-select [formControl]="getForm('fontFamily')">
      @for (font of getFonts(); track font) {
        <mat-option [value]="font"><span [style.font-family]="font">{{font}}</span></mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline" subscriptSizing="dynamic">
    <mat-label>Taille</mat-label>
    <input matInput placeholder="15" type="number" [formControl]="getForm('fontSize')">
  </mat-form-field>
</div>
<p>Couleur</p>
<ngx-colors ngx-colors-trigger style="display: inline-block; margin:5px;" [formControl]="getForm('color')"></ngx-colors>
<ngx-colors ngx-colors-trigger style="display: inline-block; margin:5px;" [formControl]="getForm('backgroundColor')"></ngx-colors>
<p>Style du texte</p>
<mat-button-toggle-group [hideMultipleSelectionIndicator]="true" [multiple]="true" [value]="stylesSelection" (valueChange)="setStyleValues($event)">
  <mat-button-toggle value="bold">
    <mat-icon>format_bold</mat-icon>
  </mat-button-toggle>
  <mat-button-toggle value="italic">
    <mat-icon>format_italic</mat-icon>
  </mat-button-toggle>
  <mat-button-toggle value="underline">
    <mat-icon>format_underline</mat-icon>
  </mat-button-toggle>
</mat-button-toggle-group>
<p>Alignement</p>
<mat-button-toggle-group [formControl]="getForm('textAlign')" [hideSingleSelectionIndicator]="true">
  <mat-button-toggle value="left">
    <mat-icon>format_align_left</mat-icon>
  </mat-button-toggle>
  <mat-button-toggle value="center">
    <mat-icon>format_align_center</mat-icon>
  </mat-button-toggle>
  <mat-button-toggle value="right">
    <mat-icon>format_align_right</mat-icon>
  </mat-button-toggle>
  <mat-button-toggle value="justify">
    <mat-icon>format_align_justify</mat-icon>
  </mat-button-toggle>
</mat-button-toggle-group>
<mat-button-toggle-group [formControl]="getForm('verticalTextAlign')" [hideSingleSelectionIndicator]="true">
  <mat-button-toggle value="flex-start">
    <mat-icon>vertical_align_top</mat-icon>
  </mat-button-toggle>
  <mat-button-toggle value="center">
    <mat-icon>vertical_align_center</mat-icon>
  </mat-button-toggle>
  <mat-button-toggle value="flex-end">
    <mat-icon>vertical_align_bottom</mat-icon>
  </mat-button-toggle>
</mat-button-toggle-group>
