:host {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 30px 115px 70px 30px 30px 30px 70px 30px repeat(2, 70px);
  align-items: center;
  grid-column-gap: 20px;
  grid-row-gap: 10px;

  p {
    font-weight: bold;
    margin: 0;
    grid-column: 1 / 3;
    align-self: flex-end;
  }

  #fonts {
    display: grid;
    grid-template-columns: 66% calc(34% - 20px);
    grid-column-gap: 20px;
    grid-column: 1 / 3;
  }

  #content-edition {
    grid-column: 1 / 3;
    height: 100px;

    textarea {
      resize: none;
    }
  }

  mat-button-toggle-group {
    grid-column: 1 / 3;
    width: min-content;
  }
}
