<p>Modifier l'élément</p>
<div id="modify" [formGroup]="form">
  @if (this._design!.type == 'label') {
    <app-design-label-personalization #child [form]="getChildForm()" id="child"></app-design-label-personalization>
  } @else if (this._design!.type == 'image') {
    <app-design-image-personalization #child [form]="getChildForm()" id="child"></app-design-image-personalization>
  }
  <mat-label>Position X</mat-label>
  <mat-form-field appearance="outline" subscriptSizing="dynamic">
    <input matInput placeholder="100" type="number" formControlName="top">
  </mat-form-field>
  <mat-label>Position Y</mat-label>
  <mat-form-field appearance="outline" subscriptSizing="dynamic">
    <input matInput placeholder="100" type="number" formControlName="left">
  </mat-form-field>
  <mat-label>Largeur</mat-label>
  <mat-form-field appearance="outline" subscriptSizing="dynamic">
    <input matInput placeholder="100" type="number" formControlName="width">
  </mat-form-field>
  <mat-label>Hauteur</mat-label>
  <mat-form-field appearance="outline" subscriptSizing="dynamic">
    <input matInput placeholder="100" type="number" formControlName="height">
  </mat-form-field>
</div>
