:host {
  display: grid;
  grid-template-columns: auto 194px;
  grid-template-rows: 30px 70px 30px 70px;
  align-items: center;
  grid-column-gap: 20px;
  grid-row-gap: 10px;

  p {
    font-weight: bold;
    margin: 0;
    grid-column: 1 / 3;
    align-self: flex-end;
  }

  #remplissage {
    grid-column: 1 / 3;
    width: min-content;
  }

  .file-upload {
    display: grid;
    align-items: center;
    grid-template-columns: 150px auto;

    span {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
